.language {
  margin: 15px;
  padding: 7px 5px 1px 5px;
  cursor: pointer;
}
.active {
  color: rgb(66, 133, 244);
  border-bottom: 5px solid rgb(66, 133, 244);
}

.language:hover {
  color: rgb(66, 133, 244);
  border-bottom: 5px solid rgb(66, 133, 244);
}
